{% extends 'base.html' %}

{% load static %}

{% block title %}<title >Detalle de Pel&iacute;cula</title>{% endblock %}

{% block container %}
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="h2 text-center mt-4 mb-5">Detalle de Pel&iacute;cula</h1>
        </div>
        <main class="fondo-peli-detalle mb-5">
            <div class="d-flex justify-content-center">
                <div style="margin-right: 20px">
                    <img class="img-peli-detalle" style="border: 3px solid white; margin-top:30px; margin-left:20px" src="{% static 'img/'%}{{ movie.image }}" alt="{{ movie.name }}">
                </div>
                <div class="datos-peli-detalle">
                    <h2 class="mt-3"><b>Título: </b>{{ movie.name }}</h2>
                    <p style="color: white; background-color: black;"><b>Género: </b>Acción</p>
                    <p style="color: white; background-color: black;"><b>Descripción: </b>
                        <br>
                        {{ movie.description }}
                    </p>

                    <p style="color: white; background-color: black;"><b>País: </b>EEUU</p>
                    <p style="color: white; background-color: black;"><b>Protagonistas: </b>Lewis Tan, Jessica McNamee, Josh Lawson, Tadanobu Asano</p>
                    <p style="color: white; background-color: black;"><b>Director: </b>Simon McQuoid</p>
                    <p style="color: white; background-color: black;"><b>Estudio: </b>MK Studios</p>
                    <p style="color: white; background-color: black;"><b>Coste: </b>{{ movie.cost }}</p>
                    <p style="color: white; background-color: black;"><b>Recaudación: </b>5000000</p>
                    <p style="color: white; background-color: black;"><b>Fecha: </b><span class="red">{{ movie.date }}</span></p>

                    <button class="boton boton-ver">
                    <a href="{% url 'index' %}"
                        class="non-underline-link text-white">
                    Volver al listado <i class="fas fa-eye"></i>
                    </a></button>
                    <button class="boton boton-editar">
                    <a href="{% url 'movie-detail' movie.id %}"
                        class="non-underline-link text-white">
                    Editar <i class="fas fa-edit"></i>
                    </a></button>
                    <button class="boton boton-borrar non-underline-link text-white"
                            custom-href="{% url 'movie-delete' movie.id %}">
                            Borrar <i class="fas fa-trash-alt"></i>
                    </button>

                </div>

            </div>
        </main>
      </div>

{% endblock %}