{% extends 'base.html' %}

{% load static %}

{% block title %}<title >Cartelera de Pel&iacute;culas</title>{% endblock %}

{% block container %}


<div class="container">
        <h1 class="text-center mt-5">Cartelera de películas</h1>
</div>
<div class="row justify-content-right">
<a class="btn btn-info boton boton-crear mb-5" href="{% url 'movie-new' %}"><strong>Crear nueva película</strong></a>
</div>
<div class="row justify-content-center">
        {% for movie in movies %}
    <div class="peli col-auto text-center">
            <img class="img-fluid" src="{% static 'img/'%}{{ movie.image }}">
            <p class="titulo-peli">{{ movie.name }}</p>
            <p class="titulo-peli">{{ movie.date }}</p>
            <hr>
            <button class="boton boton-ver">
                    <a href="{% url 'movie-view' movie.id %}"
                        class="non-underline-link text-white">
                    Ver <i class="fas fa-eye"></i>
                    </a></button>
                    <button class="boton boton-editar">
                    <a href="{% url 'movie-detail' movie.id %}"
                        class="non-underline-link text-white">
                    Editar <i class="fas fa-edit"></i>
                    </a></button>

                    <button class="boton boton-borrar non-underline-link text-white"
                            custom-href="{% url 'movie-delete' movie.id %}">
                            Borrar <i class="fas fa-trash-alt"></i>
                    </button>
        </div>
        {% endfor %}
</div>

{% endblock %}